// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

ion-app {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #0cd1e8;
  --ion-color-tertiary: #7044ff;
  --ion-background-color: #ffffff00;
  --ion-text-color: #000000; // Texto negro
  --ion-item-background: #ffffff00;
  --ion-toolbar-background: #f8f8f800;
}

// barcode escaner
body.barcode-scanning-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}
.barcode-scanning-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanning-active{
      visibility: hidden;
      --background: transparent;
      --ion-background-color: transparent;
  }
}
html {
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}